<html>

<head>
  <meta charset="utf-8">
  <title>UW IoT Lab3</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/lab3.css') }}">
  <script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/lab3.js') }}"></script>
</head>

<body>
  <!-- <h2>UW IoT | Lab 3: GPIO API and WebApp</h2>
  <h3>Switch: <span id="switch"></span></h3>
  <h4>RED LED (on GPIO18): <span id="red_led_label"></span></h4>
  <h4>GREEN LED (on GPIO13): <span id="grn_led_label"></span></h4>
  <h4>BLUE LED (on GPIO23): <span id="blu_led_label"></span></h4> -->
  <div class="container panel">
    <div class="container well well-sm">
      <h3 id='title'>Lab 3 GPIO Server Sent Events</h3>
    </div>

    <div class="container well">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
          <h4 class="gpio">Switch</h4>
        </div>
        <div class="col-sm-3 switch">
          <h4><span id="switch" class="label label-default">&#9759</span></h4>
        </div>
        <div class="col-sm-2">
          <h4 class="gpio">[GPIO27]</h4></div>
        <div class="col-sm-2"></div>
      </div>

      <!-- LED: RED -->
      <div class="row">
        <div class="col-sm-2"></div>

        <div class="col-sm-3 led_button">
          <button type='button' id="red_led_btn" class="btn btn-md btn-default">Toggle LED</button>
        </div>
        <div class="col-sm-3 led_label">
          <h4><span id="red_led_label" class="label label-default">&#9728</span></span></h4>
        </div>
        <div class="col-sm-2">
          <h4 class="gpio">[GPIO18]</h4></div>
        <div class="col-sm-2"></div>
      </div>
      <!-- LED: GREEN -->
      <div class="row">
        <div class="col-sm-2"></div>

        <div class="col-sm-3 led_button">
          <button type='button' id="grn_led_btn" class="btn btn-md btn-default">Toggle LED</button>
        </div>
        <div class="col-sm-3 led_label">
          <h4><span id="grn_led_label" class="label label-default">&#9728</span></h4>
        </div>
        <div class="col-sm-2">
          <h4 class="gpio">[GPIO13]</h4></div>
        <div class="col-sm-2"></div>
      </div>
      <!-- LED: BLUE -->
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3 led_button">
          <button type='button' id="blu_led_btn" class="btn btn-md btn-default">Toggle LED</button>
        </div>
        <div class="col-sm-3 led_label">
          <h4><span id="blu_led_label" class="label label-default">&#9728</span></h4>
        </div>
        <div class="col-sm-2">
          <h4 class="gpio">[GPIO23]</h4></div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>

  <!-- <p>
    <button type='button' style="width:100px; height:50px; color:white; background:red" id='red_led_btn'>RED LED</button><br>
    <button type='button' style="width:100px; height:50px; color:white; background:green" id='grn_led_btn'>GREEN LED</button><br>
    <button type='button' style="width:100px; height:50px; color:white; background:blue" id='blu_led_btn'>BLUE LED</button><br>
  </p> -->

  <!-- <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script> -->

  <script type="text/javascript">
      // This line of javascript must remain in index.html
      var iotSource = new EventSource("{{ url_for('myData') }}");
      /* intercept the incoming states from SSE */
  </script>

</body>

</html>
