<html>

<head>
  <meta charset="utf-8">
  <title>UW IoT Lab3</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/lab3.css') }}">
  <script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
</head>

<body>

  <h2>UW IoT | Lab 3: GPIO Server Sent Events</h2>
  <h3>Switch: <span id="switch"></span></h3>
  <h4>RED LED (on GPIO18): <span id="red_led_label"></span></h4>
  <h4>GREEN LED (on GPIO13): <span id="grn_led_label"></span></h4>
  <h4>BLUE LED (on GPIO23): <span id="blu_led_label"></span></h4>

  <p>
    <button style="width:200px; height:100px; color:white; background:red" type='button' id='red_led_btn'>RED LED</button><br><br>
    <button style="width:200px; height:100px; color:white; background:green" type='button' id='grn_led_btn'>GREEN LED</button><br><br>
    <button style="width:200px; height:100px; color:white; background:blue" type='button' id='blu_led_btn'>BLUE LED</button><br><br><br>
  </p>

  <script type="text/javascript">
    // start executing only after document has loaded
      $(document).ready(function() {
        // establish global variables for LED status
        var led1;
        var led2;
        var led3;

 				var iotSource = new EventSource("{{ url_for('myData') }}");
        // intercept the incoming states from SSE
        iotSource.onmessage = function(e) {
          // console.log(e.data);
          var params = e.data.split(' ');
          updateSwitch(params[0]);
          updateLeds(1,params[1]);
          updateLeds(2,params[2]);
          updateLeds(3,params[3]);
        }

        // update the Switch based on its SSE state monitor
        function updateSwitch(switchValue) {
          if (switchValue === '1') {
            $('#switch').text('ON');
          } else if (switchValue === '0') {
            $('#switch').text('OFF');
          }
        }

        // update the LEDs based on their SSE state monitor
        function updateLeds(ledNum,ledValue) {
          if (ledNum === 1) {
            if (ledValue === '1') {
              $('#red_led_label').text('ON');
              led1 = "ON"
            } else if (ledValue === '0') {
              $('#red_led_label').text('OFF');
              led1 = "OFF"
            }
          }
          else if (ledNum === 2) {
            if (ledValue === '1') {
              $('#grn_led_label').text('ON');
              led2 = "ON"
            } else if (ledValue === '0') {
              $('#grn_led_label').text('OFF');
              led2 = "OFF"
            }
          }
          else if (ledNum === 3) {
            if (ledValue === '1') {
              $('#blu_led_label').text('ON');
              led3 = "ON"
            } else if (ledValue === '0') {
              $('#blu_led_label').text('OFF');
              led3 = "OFF"
            }
          }
        }

        // The button click functions run asynchronously in the browser
        $('#red_led_btn').click(function() {
          if (led1 === "OFF") {led1 = "ON";} else {led1 = "OFF";}
          var params = 'led=1&state='+led1;
          console.log('Led Command with params:' + params);
          $.post('/ledcmd', params, function(data, status){
                  console.log("Data: " + data + "\nStatus: " + status);
          });
        });

        // The button click functions run asynchronously in the browser
        $('#grn_led_btn').click(function() {
          if (led2 === "OFF") {led2 = "ON";} else {led2 = "OFF";}
          var params = 'led=2&state='+led2;
          console.log('Led Command with params:' + params);
          $.post('/ledcmd', params, function(data, status){
                  console.log("Data: " + data + "\nStatus: " + status);
          });
        });
        // The button click functions run asynchronously in the browser
        $('#blu_led_btn').click(function() {
          if (led3 === "OFF") {led3 = "ON";} else {led3 = "OFF";}
          var params = 'led=3&state='+led3;
          console.log('Led Command with params:' + params);
          $.post('/ledcmd', params, function(data, status){
                  console.log("Data: " + data + "\nStatus: " + status);
          });
        });
      });
  </script>
</body>
</html>
